@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

body {
  background-color: deepskyblue;
  color: deeppink;
}

.container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.quarto {
	margin: 12px;
	padding: 8px;
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	font-weight: bold;
	color: #333;
  background-color:deeppink;
  color: whitesmoke;
	width: 100%;
	max-width: 380px;
	border-radius: 8px;
  text-align: center;
  transition: 0.5s;
}

.quarto:hover {
  box-shadow: 5px 5px 5px darkslategray;
  transition: 1s;
  background-color: whitesmoke;
  color: deeppink;
}

.quarto > img {
  width: 100%;
  height: auto;
}

.quarto > .tipo, .quarto > .preco  {
  
  background-color:whitesmoke;
  color: deeppink;
  border: 2px solid darkslateblue;
  padding: 5px;
  border-radius: 3px;
  object-fit: scale-down;
  width: max-content;
}

.quarto > p {
  margin: 0 auto;
  margin-top: 10px;;
}

